.wrap{
  max-width: 1440px;
  margin: 0 auto;
}
.block{
   display:block; 
}
.bold{
  font-weight: 700;
}
.paddingT50{
  padding-top: 50px;
}
.paddingB50{
  padding-bottom: 50px;
}
.marginB30{
  margin-bottom: 30px;
}
.flex{
  display:flex;
}
.hide{
  display:none;
}
.grid{
  display: grid;
}
/* 서브 메뉴 스타일링 바꾸기 추가클래스 */
.resource{
   background-image: url(../img/logo2.png);
}
.two{
  color:#222;
}
.backwhite{
  background-color: #fff;
}
.bottom{
  border-bottom-color: rgba(153,153,153,.2);
}
.rollesky{
  color: #50a4e5;
}
.rolleblack{
  color: #222;
}
.ham2{
  background-image: url(../img/ham2.png) !important;
  background-size: auto 34px !important;
  position: absolute ;
  right: 6%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  display: block !important;
  font-size: 0 !important;
  width: 100%;
  height: 100% !important;
}
.hide2{
  right: -100%;
  transition: 0.5s;
}
.show{
  right: 0;
  transition: 0.5s;
}
.noscroll{
  overflow:hidden;
}
