@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/* 헤더 */
header {
  font-family: 'GyeonggiTitleM', sans-serif;
/*! font-family: 'Noto Sans KR'; */
  height: 94px;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: calc(100% - 40px);
  border-bottom: rgba(230,230,230,.2) 1px solid;
  z-index: 2;
}
header h1 {
  
  background-image: url(../img/logo.png);
  font-size: 0;
  width: 84px;
  height: 53px;
  background-repeat: no-repeat;
}

header h1 a {
  

width: 100%;
height: 100%;
display: block;
}
header div.gnb {
  
 
  justify-self: center;
  width: 974px;
  display: flex;
  max-width: 1000px;
  /*! background-color: #555; */
  position: absolute;

}
header div.gnb>ul {
display: flex; height: 100%;
  
margin: 0 auto;
/*! gap: 100px; */
max-width: 100%;
}
header div.gnb>ul>li {
  
}
header div.gnb>ul >li> a {
  padding: 0 48px;
  font-size: 24px;
  font-weight: 500;
    line-height: 93px;
  color: #fff;
    letter-spacing: -0.72px;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  transition: 0.2s;
  box-sizing: border-box;
}
header div.gnb>ul >li> a:hover{
  color: #50a4e5;
}
header div.gnb>ul >li> a::after{
  content: '';
    position: absolute;
    top: 23px;
    right: 22px;
    width: 15px;
    height: 14px;
    box-sizing: border-box;
    border: #50a4e5 2px solid;
    border-radius: 50%;
    opacity: 0; 
    transition: opacity 0.2s;
    display: inline-block;
}
header div.gnb>ul >li> a:hover::after{
  opacity: 1;
}
header div.aside {

  justify-self: right;
  position: absolute;
}
header div.aside ul {
height: 100%; 
  display: flex;
gap: 30px;
margin-right: 30px;
}
header div.aside ul li {
  
}
header div.aside ul li a {
 
font-family: "Noto Sans KR";
font-size: 16px;
font-weight: 500;
  color: #fff;
}
/* 헤더 사이드 메뉴  */
header div.gnb_menu{
  position: absolute;
  top:95px;
 
  width: 100%;
  height: 95px;
}
header div.gnb_menu_1{
 /*! width: 974px; */
  /*! margin: 0 auto; */
 /*! max-width: 1000px; */
 display: flex;
 /*! position: relative; */
 height: 100%;
 /*! opacity: 0; */
 /*! background-color: #fff; */
 /*! box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.14); */
}
header div.gnb_menu_1 ul{
  
  display: flex;  
  height: 100%;
  position: absolute;
  width: 32%;
  align-items: center;
  gap: 48px;
  justify-content: center;
}
header div.gnb_menu_1 ul:not(:nth-child(5)){
/*  display: none;  */
}
header div.gnb_menu_1 ul:nth-child(1){
  left: 16.7%;
  
}
header div.gnb_menu_1 ul:nth-child(2){
  left: 25.5%;

}
header div.gnb_menu_1 ul:nth-child(3){
  left: 33%;
 
}
header div.gnb_menu_1 ul:nth-child(4){
  left: 41%;
 
}
header div.gnb_menu_1 ul:nth-child(5){
   left: 42%;
   
   width: 50%;
}
header div.gnb_menu_1 ul li{
  
}
header div.gnb_menu_1 ul li a{
  color: #444;
  font-size: 20px;
  font-family: "Noto Sans KR";
  transition: 0.2s;
  color: #fff;
} 
header div.gnb_menu_1 ul li a:hover{
  color:#50a4e5;
}
header div.gnb_menu2{
  width:100%;
  position: absolute;
  height: 100%;
  top: 95px;
  z-index: -1;

}
/* 타이틀 영상 이미지 */
div#title{
  
  height: 100vh;
 
}
div#title div.title_video{
  
  height: 100%;
 
}
div#title div.title_video h3{
  
 height: 100%; 
  background-color: #b87474; 
  font-size: 0;
}
div#title div.title_video p{
  font-family: 'Noto Sans KR';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.7px;
  font-weight: 700;
  opacity: 0.7;
  position: absolute;
  
  
  top: 95%;
  left: calc(50% - 12px);
}
div#title div.title_video p::before{
  
  background-image: url(../img/scroll.png);
  display: block;
  width: 24px;
  height: 45px;
  position: absolute;
  bottom: 131%;
  left: calc(50% - 12px);
  content:'';
  display: block;
}
div#title div.title_video_ytb{
  height: 300%;
    top: -100%;
  position: relative;
  z-index: -1;
}
div#title div.title_video_ytb iframe{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: none;
  outline: none;
  

}
/* 메인 1 */
div.section1 {

  height: 100vh;
  background-image: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*! background-color: #ccc; */
  padding-top: 60px;
  padding-bottom: 40px;
}
div.section1 div.section1_contain {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 45px;
  
}
div.section1 div.section1_contain h3 {
 font-family: 'GyeonggiTitleM', sans-serif;
 font-size: 48px;
 color: #50a4e5;
 letter-spacing: 1px;
 line-height: 58px;
 font-weight: 400;
  text-align: center;
}
div.section1 div.section1_contain h3 span{
  
  color: #222;
}
div.section1 div.section1_contain div.section1_min {

  display: flex;
  gap: 25px;
}
div.section1 div.section1_contain div.section1_min div.section1_1 {

  width: 948px;
  height: 450px;
  background-image: url(../img/main1_contain.jpg);
  border-radius: 25px;
  padding: 90px 0 0 90px;
  box-sizing: border-box;
}
div.section1 div.section1_contain div.section1_min div.section1_1 h4 {
 font-family: 'GyeonggiTitleM', sans-serif;
  margin-bottom: 10px;
    color: #222;
    font-size: 36px;
    line-height: 40px;
  
    letter-spacing: -1.8px;
}
div.section1 div.section1_contain div.section1_min div.section1_1 p {
    font-family: "Noto Sans KR";
    color: #555;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.9px;
  
    margin-bottom: 40px;
}

div.section1 div.section1_contain div.section1_min div.section1_1 a{
font-family: "Noto Sans KR";
color: #666;
font-weight: 600;
font-size: 14px;
border: 1px solid #666;
border-radius: 20px;
padding: 10px 26px;
transition: 0.3s;
}
div.section1 div.section1_contain div.section1_min div.section1_1 a:hover{
  background-color: #fff;
}
div.section1 div.section1_contain div.section1_min div.section1_1 a::after{
  content:'';
  width: 12px;
  height: 12px;
  background-image: url(../img/more.png);
  display: inline-block;
  background-size: contain;

  margin-left: 13px;
}
/* 웨이브 효과 */
div.section1 div.section1_contain div.section1_min a div.wave_effect{
width: 100%;
height: 100%;
position: absolute;
  z-index: 0;
background: #A7D1F2;
box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1);
border-radius: 25px;

overflow: hidden;
}
div.section1 div.section1_contain div.section1_min a div.wave_effect div.wave1{
  position: absolute;
  bottom: 10%;
  left: -82%;
  background-color: #1578C4;
  width: 800px;
  height: 800px;
  opacity: 0.6;
  border-radius: 41%;
  animation: drift 20000ms infinite linear;

}
@keyframes drift {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
div.section1 div.section1_contain div.section1_min a div.wave_effect div.wave2{
  animation: drift 17000ms infinite linear;
  background: #5BA8F0;
  opacity: 0.5;
  border-radius: 41%;
  position: absolute;
  bottom: 10%;
  left: -82%;
  width: 800px;
  height: 800px;
}
div.section1 div.section1_contain div.section1_min a div.wave_effect div.wave3{
  animation: drift 15000ms infinite linear;
  background: #50A4E5;
  opacity: 0.4;
  border-radius: 41%;
  position: absolute;
  bottom: 10%;
  left: -82%;
  width: 800px;
  height: 800px;
  transform-origin: 50% 49%;
}
div.section1 div.section1_contain div.section1_min a.block{

  width: 300px;
  height: 452px;
  position: relative;
  
}
div.section1 div.section1_contain div.section1_min a div.wave_text {
 
  display: flex;
  flex-direction: column;
  height: 86%;
  align-items: center;
  justify-content: center;

  position: absolute;
 
  top: 0;
  left: 0;
  width: 100%;
}
div.section1 div.section1_contain div.section1_min a div.wave_text h4 {
 font-family: 'GyeonggiTitleM', sans-serif;
  color: #fff;
    font-size: 28px;
    line-height: 38px;
  letter-spacing: -1.4px;
 text-align: center;

}
div.section1 div.section1_contain div.section1_min a div.wave_text h4::before{
  content:'';
  display: block;
  width: 115px;
  height: 115px;
  background-image: url(../img/waterpack.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 25px;
}
div.section1 div.section1_contain div.section1_min a div.wave_text h4::after{
  content:'';
    display: block;
    margin: 16px auto;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
}
div.section1 div.section1_contain div.section1_min a div.wave_text p {
font-family: "Noto Sans KR";
  color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
text-align: center;
}
/* 메인2 스크롤 fixed */
div.section2 {
 
  min-height: 100vh;
  background-color: #f9f5ec;
  height: auto;
  display: flex;
  align-items: center;
  /*! justify-content: center; */
  position: sticky;
  z-index: -1;
}
div.section2 > div.wrap {
 
  width: 1353px;
  display: flex;
  height: auto;
  /*! align-items: center; */
  position: relative;
}
div.section2 div.wrap div.section2_min1 {
 
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: start;
  position: absolute;
  top: 32vh;
  width: 1292px;
  height: 68vh;
  transition: all 0.3s ease-in-out;
  padding: 0 20px;
  box-sizing: border-box;
  position: sticky;
}
div.section2 div.wrap div.section2_min1 h3 {
 font-family: 'GyeonggiTitleM', sans-serif;
 font-size: 48px;
 color: #50a4e5;
 letter-spacing: -1px;
 line-height: 58px;
 font-weight: 400;
  text-align: center;
 margin-bottom: 40px;
 /*! padding: 0 10px; */
}
div.section2 div.wrap div.section2_min1 h3 span {
 color: #222;
}
div.section2 div.wrap div.section2_min1 a {
 font-family: "Noto Sans KR";
color: #666;
font-weight: 600;
font-size: 14px;
border: 1px solid #666;
border-radius: 20px;
padding: 12px 30px;
transition: 0.3s;
}
div.section2 div.wrap div.section2_min1 a:hover{
   background-color: #fff;
}

div.section2 div.wrap div.section2_min1 a::after{
  content:'';
  width: 12px;
  height: 12px;
  background-image: url(../img/more.png);
  display: inline-block;
  background-size: contain;
  margin-left: 10px;
}

div.section2 div.wrap>div.section2_min2 {
 width: 1272px;
    margin: 0 auto;
    padding-left: 526px;
    padding-top: calc(32.5vh + 450px);

}
div.section2 div.wrap>div.section2_min2 div.section2_min2.wrap {

  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  width: 91%;
  
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a:nth-child(odd){
  margin-top: -250px;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap  > a {
 display: block;
 width: 354px;
  height: 430px;

 border-radius: 25px;
 
 
 padding-bottom: 29px;
 padding-left: 23px;
 box-sizing: border-box;
 position: relative;
 overflow: hidden;
 

}

div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_one {
 
  height: 100%;
  display: flex;
  align-items: end;
  
  width: 100%;
  transition: all ease-in-out 0.3s;
 
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_one::hover{

  
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_one::after{
  content:'';
  opacity: 0.4;
  display: block;
  position: absolute;
  left: 0%;
  top: 77%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
  width: 100%;
  height: 23%;
  z-index: 0;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_one img {

 
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_one h5 {
 

  font-size: 20px;
  color: #fff;
  position: absolute;
  font-family: 'GyeonggiTitleM', sans-serif;
  z-index: 1;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two {
 
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 40px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(206, 171, 99, 0.85);
  border-radius: 25px;
  transition: all ease-in-out 0.3s;
 
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two:hover{
 
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two h4 {
 
  color: #fff;
  font-size: 28px;
  font-family: 'GyeonggiTitleM', sans-serif;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two p {
 margin-top: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    opacity: 0.85;
  font-family: "Noto Sans KR";
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 34px;
 letter-spacing: -0.8px;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two p::after{
  content:'';
  display: block;
  background-image: url(../img/health_more.png);
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
}
div.section2 div.wrap div.section2_min2 div.section2_min2.wrap a span.min2_two a.plus.block {
 
}
/* 메인3 슬릭 */
div.section3 {
  min-height: 100vh;
  background-image: url(../img/background4.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  display: flex;
  align-items: center;
  

  overflow: hidden;

}
div.section3 div.wrap {
 max-width: 1600px;
  /*! overflonitialw: hidden; */
}
div.section3 div.wrap div.sec3_1 {
display: flex;
  justify-content: space-between;
 
  align-items: end;

max-width: 1240px;
margin: 0 auto;
margin-bottom: 50px;

}
div.section3 div.wrap div.sec3_1 h3 {
font-family: 'GyeonggiTitleM', sans-serif;
 font-size: 48px;
 color: #50a4e5;
 letter-spacing: 1px;
 line-height: 58px;
 font-weight: 400;

}
div.section3 div.wrap div.sec3_1 h3 span {
color: #222;
}
div.section3 div.wrap div.sec3_1 a {
font-family: "Noto Sans KR";
color: #666;
font-weight: 600;
font-size: 14px;
border: 1px solid #666;
border-radius: 20px;
padding: 13px 26px;
transition: 0.3s;

}
div.section3 div.wrap div.sec3_1 a::after{
  content:'';
  width: 12px;
  height: 12px;
  background-image: url(../img/more.png);
  display: inline-block;
  background-size: contain;
  margin-left: 16px;

}
div.section3 div.wrap div.sec3_2 {

}
div.section3 div.wrap div.sec3_2 ul {
 width: 1586px;
 

 margin-left: 178px;
}
div.section3 div.wrap div.sec3_2 ul .slick-arrow{
  display: none !important;
}
div.section3 div.wrap div.sec3_2 ul li {
width: 515px !important;
/*! height: 350px; */

position: relative;

margin-left: 13px;
  /*! overflow: hidden; */


border-radius: 25px;

}
div.section3 div.wrap div.sec3_2 ul li a {
width:100%;
  height: 100%;
  /*! border: #f5f5f5 1px solid; */
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1);
  
  


/*! border-radius: 25px; */
display: flex;
flex-direction: column;
gap: 25px;
}
div.section3 div.wrap div.sec3_2 ul li a img {
width:100%;
  height: 350px;


border-radius: 25px;
transition: 0.5s;
}
div.section3 div.wrap div.sec3_2 ul li a div{
  height: 350px;
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 123px 50px 0;
  box-sizing: border-box;
  color: #fff;
  top: 0;
  left: 0;
  border-radius: 25px;
  color: #444;
  font-size: 28px;
  font-family: 'GyeonggiTitleM', sans-serif;
  background: #f5f5f5 url(../img/quatation.png) no-repeat 54px 80px;
  background-size: auto;
  background-size: 42px 30px;
  transition: 0.5s;
}
div.section3 div.wrap div.sec3_2 ul li a div p.review {
overflow: hidden; 
text-overflow: ellipsis;
height: 113px;
white-space: wrap;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
div.section3 div.wrap div.sec3_2 ul li a p.nick{
  /*! margin-left: 14px; */
  font-size: 18px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Noto Sans KR";
 

  
  
}
div.section3 div.wrap div.sec3_2 ul li a p.nick::before{
  content:'';
  display: inline-block;
  width: 48px;
  height: 48px;
   background-image: url(../img/reivew_mark.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 15px;
  margin-left: 20px;
}
/* 메인4 */
div.section4 {

  background-color:#f5f5f5;
    
}
div.section4 div.wrap {
  max-width:1220px;
  padding: 180px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
div.section4 div.wrap h3 {
  color: #222;
  font-size: 48px;
  line-height: 58px;
  font-family: 'GyeonggiTitleM', sans-serif;
  letter-spacing: -1.44px;
}
div.section4 div.wrap ul {
  display: flex;
  gap: 140px;
}
div.section4 div.wrap ul li {
  width: 192px;
  height: 192px;
  
}
div.section4 div.wrap ul li a {
  margin-top: 10px;
    color: #666;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  font-family: "Noto Sans KR";
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  flex-direction: column;
  gap: 8px;
}
div.section4 div.wrap ul li a::before{
  content:'';
  display: block;
  width:72px;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.section4 div.wrap ul li:nth-child(1) a::before{
   background-image: url(../img/4_1.png);
}
div.section4 div.wrap ul li:nth-child(2) a::before{
  background-image: url(../img/4_2.png);
}
div.section4 div.wrap ul li:nth-child(3) a::before{
  background-image: url(../img/4_3.png);
}
div.section4 div.wrap ul li:nth-child(4) a::before{
   background-image: url(../img/4_4.png);
}

/* 푸터 */
/* 푸터 top */
footer {
 
}
footer div.foot_top {
 height: 150px;
  background-color: rgba(80, 164, 229, 0.85);
 display: flex; 
  
  align-items: center;
  justify-content: center;
  
}
footer div.foot_top div.wrap {
 min-width: 1220px;
}
footer div.foot_top div.wrap ul {
 display: flex;
 justify-content: space-between;
}
footer div.foot_top div.wrap ul li {
 
}
footer div.foot_top div.wrap ul li div.detail {
 display: flex;
  flex-direction:column;
  gap: 10px;
 position: relative;
}
footer div.foot_top div.wrap ul li:nth-child(2) div.detail::before{
  content:'';
  display: inline-block;
  height: 87%;
  border-left: 1px solid #fff;
  position: absolute;
  top: 9%;
  left: -16%;
}
footer div.foot_top div.wrap ul li div.detail h4 {
 color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: -0.9px;
  font-family: "Noto Sans KR";
}
footer div.foot_top div.wrap ul li div.detail div.detail2 {
  
  font-family: "Noto Sans KR";
  display: flex;
  align-items: center;
}

footer div.foot_top div.wrap ul li div.detail div.detail2 p.big {
 width: 262px;
    color: #fff;
    font-size: 44px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: -2.2px;
}

footer div.foot_top div.wrap ul li div.detail div.detail2 p.small {
 color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
  font-weight: 400;
}
/* footer_아래 */
div.foot_bottom {
height: 263px;
  font-family: "Noto Sans KR";
}
div.foot_bottom div.wrap {
max-width: 1220px;
  /*! height: 100%; */
  padding-top: 40px;
display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto auto auto;
gap: 34px;
align-items: center;
}
div.foot_bottom div.wrap h1 {
  background-image: url(../img/foot_logo.png);
  width: 96px;
  height: 52px;
  font-size: 0;
  background-repeat: no-repeat;
  
}
div.foot_bottom div.wrap ul.service {
display: flex;
gap: 20px;
}
div.foot_bottom div.wrap ul.service li {

}
div.foot_bottom div.wrap ul.service li a {
font-size: 16px;
  color: #444;
  position: relative;
}
div.foot_bottom div.wrap ul.service li:nth-child(2) a{
  font-weight: 700;
}
div.foot_bottom div.wrap ul.service li:nth-child(n+2):nth-child(-n+4) a::before{
  content:'';

    display: inline-block;
    width: 3px;
    height: 3px;
    position: absolute;
    background: #ccc;
    border-radius: 50%;
  top: 50%;
  left: -11%;
}
div.foot_bottom div.wrap div.list1 {
grid-column: 4;
width: 300px;
position: relative;
}
div.foot_bottom div.wrap div.list1 a.list1_a{
  color: #444;
  height: 48px;
  display: block;
  display: flex;
  align-items: center;

  padding-left: 20px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: #e6e6e6 1px solid;
  position: relative;
  letter-spacing: -0.6px;
}
div.foot_bottom div.wrap div.list1 a.list1_a::after{
  content:'';
  display: inline-block;
  width: 12px;
  height: 11px;
  background-image: url(../img/below.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  position: absolute;
  left: 91%;
  top: 43%;

}
.switch::after{
  transform:rotate(180deg);
}
div.foot_bottom div.wrap ul.add {
grid-column: 1/ span 2;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 27px;
row-gap: 16px;
}
div.foot_bottom div.wrap ul.add li {
  color: #666;
  font-size: 14px;
  letter-spacing: -0.7px;
  position: relative;

}
div.foot_bottom div.wrap ul.add li:nth-child(4){
  grid-column: 1 / span 2;
}
div.foot_bottom div.wrap ul.add li:nth-child(4)::after{
  content:'';
  display: inline-block;
  height: 14px;
  border: 1px solid #e6e6e6;
  position: absolute;
  right: -6%;
}
div.foot_bottom div.wrap ul.add li:nth-child(1)::after{
  content:'';
  display: inline-block;
  height: 14px;
  border: 1px solid #e6e6e6;
  position: absolute;
  right: -19%;
}
div.foot_bottom div.wrap ul.add li:nth-child(2)::after{
  content:'';
  display: inline-block;
  height: 14px;
  border: 1px solid #e6e6e6;
  position: absolute;
  right: -19%;
}
div.foot_bottom div.wrap ul.sns {
  grid-column: 4;
  grid-row: 2 / span 2;
  display: flex;
  gap: 14px;
  justify-self: right;
}
div.foot_bottom div.wrap ul.sns li {
width: 56px;
    height: 56px;
   border-radius: 50%;
  overflow: hidden;
}
div.foot_bottom div.wrap ul.sns li a {
    width: 100%;
    height: 100%;
    
    background-color: rgba(178, 178, 178, 0.6);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  font-size: 0;
}
div.foot_bottom div.wrap ul.sns li:nth-child(1) a{
  background-image: url(../img/insta.png);
}
div.foot_bottom div.wrap ul.sns li:nth-child(2) a{
  background-image: url(../img/ytb.png);
}
div.foot_bottom div.wrap ul.sns li:nth-child(3) a{
  background-image: url(../img/blog.png);
}
div.foot_bottom div.wrap p {
 grid-column: 1 / span 2;
  grid-row: 4;
  color: #666;
  font-size: 14px;
  letter-spacing: -0.7px;
 margin-top: -30px;
}
/* 푸터 연관사이트 */
div.list2 {
 position: absolute;
 width: 100%;
 bottom: 100%;
  background-color: #fff;
 border-radius: 28px;
 border: 1px solid #ddd;
 overflow: hidden;
}
div.list2 > ul.list2_a {
 
}
div.list2 > ul.list2_a > li {
 height: 48px;

}
div.list2 > ul.list2_a > li > a {
 color: #666;
   font-family: "Noto Sans KR";
  letter-spacing: -0.6px;
  height: 100%;
 display: block;
 display: flex;
 align-items: center;
  padding-left: 20px; 
box-sizing: border-box;

}
div.list2 > ul.list2_a > li:nth-child(1) a{

}
div.list2 > ul.list2_a > li > a:hover{
  background: #f5f5f5;
    color: #50a4e5;
    font-weight: 500;
  /*! border-radius: 25px; */
}

