div.pop {
  a: c;
}
div.pop div.wrap {
  a: c;
}
div.pop div.wrap div.pop1 {
  a: c;
}
div.pop div.wrap div.pop1 div.wrap2 {
  a: c;
}
div.pop div.wrap div.pop1 div.wrap2 a {
  a: c;
}
div.pop div.wrap div.pop1 div.wrap2 a img {
  a: c;
}
div.pop div.wrap div.pop2 {
  a: c;
}
div.pop div.wrap div.pop2 a {
  a: c;
}
div.pop div.wrap div.pop2 a button {
  a: c;
}