div.pop{ a:c;
    div.wrap{ a:c;
        div.pop1{a:c;
            div.wrap2{a:c;
                a{a:c;
                    img{a:c;
    
                    }
                }
            }
        }
        div.pop2{a:c;
            a{a:c;
                button{a:c;
    
                }
            }
        }
    }
}